@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dropdown {
  opacity: 0;
  height: 0px;
  transform: translateY(-10%);
  padding:0px;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out, height 0.2s ease-in-out, padding 0.2 ease-in-out;
}

.dropdown-enter {
  opacity: 1;
  height: 500px;
  padding:40px;
  transform: translateY(0%);
}

.dropdown-exit {
  opacity: 0;
  height: 0px;
  padding:0px;
  transform: translateY(-10%);
}



/* Add appropriate positioning styles to the sub-dropdown */
.sub-dropdown {
  position: absolute;
  top: 0;
  left: 100%;

  /* Adjust as needed */
}

.sub-dropdown2 {
  position: absolute;
  left: 100%;
 /* Adjust as needed */
}
.sub-dropdown3 {
  position: absolute;
  top: 30%;
  left: 100%;
 /* Adjust as needed */
}

.dropdown li:hover > .sub-dropdown {
  display: block;
  animation: slideleft .3s
}

.dropdown li:hover > .sub-dropdown2 {
  display: block;
  animation: slideleft .3s
}
.dropdown li:hover > .sub-dropdown3 {
  display: block;
  animation: slideleft .3s
}

/* Adjust the positioning of the submenu */
.sub-dropdown .dropdown-menu {
  margin-top: 0; /* Adjust as needed */
}

.sidebar-hidden {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.sidebar-visible {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

/* Apply hover color only to immediate child <a> elements */
.sidebar-subdropdown > li > a:hover {
  color: rgb(251 146 60);
}

/* Apply hover color only to immediate child <a> elements of nested submenu */
.sidebar-subdropdown > li > ul > li > a:hover {
  color: rgb(251 146 60);
}

.sidebar-subdropdown li a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.sidebar-subdropdown li {
  transition: background-color 0.3s;
}

.sidebar-subdropdown li:hover {
  background-color: #1e293b; /* Apply your hover background color here */
}

.sidebar-visible li > .sidebar-subdropdown{

  animation: slidedown .3s;
}


.arrow-down {
  transition: transform 0.3s;
}

.arrow-up {
  transform: rotate(360deg);
  transition: transform 0.3s;
}


@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(18px);
  }

  100%{
    opacity: 1;
    transform: none;
  }
}
@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(18px);
  }

  100%{
    opacity: 1;
    transform: none;
  }
}
@keyframes slidedown {
  0% {
    opacity: 0;
    transform: translateY(-18px);
  }

  100%{
    opacity: 1;
    transform: none;
  }
}


.arrow {
  border-top: 20px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 20px solid black;
  width: 0;
  height: 0;
}

.arrow::before {
  content:'';
  left: 0;
  width: 30px;
  height: 15px;
  background-color: black;
}